@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}
h1{
  background-color: green;
  color: white;
  font-size: 39px;
}
h2{
  background-color: rgb(73, 0, 128);
  color: white;
  font-size: 39px;
}
.contact-head{
  color:red
}